<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008426809841-rn4lkd7rq72hsu2lu5udhj6rnprce8ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008426809841-rn4lkd7rq72hsu2lu5udhj6rnprce8ov</string>
	<key>API_KEY</key>
	<string>AIzaSyAWpLGg6WkCXlQOqQXLYMDdMGAtTZOTMzw</string>
	<key>GCM_SENDER_ID</key>
	<string>1008426809841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahajamatya.turingboard</string>
	<key>PROJECT_ID</key>
	<string>turing-board</string>
	<key>STORAGE_BUCKET</key>
	<string>turing-board.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008426809841:ios:a197850134f26c82aeec50</string>
</dict>
</plist>